.slide-right {
  animation: slide-right 1.1s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite alternate both;
}
.slide-left {
  animation: slide-left 1.1s cubic-bezier(0.600, -0.280, 0.735, 0.045) infinite alternate both;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(3vmin);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-3vmin);
  }
}

.left {
  clip-path: polygon(0 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
  width: 55vw;
}
.right {
  clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%);
  width: 55vw;
  margin-left: -40px;
}

.horizontal-grid{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 5vmin;
}

.horizontal-grid::-webkit-scrollbar {
  display: none;
}

.slider-controler {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
  position: unset;
}

.swiper-slide {
  border-radius: 7px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .swiper-slide {
    border-radius: 12px;
    overflow: hidden;
  }
}

.swiper-pagination {
  width: 200px!important;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background-color: green;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: orange;
}