.hanging-board {
  padding-top: 10px;
  width: 80vmin;
  max-height: 100vh;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transform-origin: center 2.5vmin;
}

.hanging-bar {
  width: 40px;
  height: 6px;
  background-color: #777;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hanging-button {
  background-color: #ffffff;
  color: #777;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2vmin 15vmin;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transform-origin: center top;
  animation: swing 2s infinite alternate;
}

.hanging-button:hover {
  background-color: #f0f0f0;
  animation: none;
}

.hanging-button:nth-child(odd) {
  animation: swing2 2s infinite alternate-reverse;
}

@keyframes swing {
  0% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(2deg);
  }
}