@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'acquire';
  src: url(@/assets/fonts/Aquire-BW0ox.otf) format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Lato', 'Rambla', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

#root {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

::selection {
  background-color: #bfefaf;
  color: #030c17;
}

a:focus,
a:active,
button,
button:focus,
button:active,
.swiper-button-prev,
.swiper-button-next {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

:root {
  --shadow-color: 210deg 22% 60%;
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-color-dark: 213deg 100% 0%;
  --shadow-elevation-medium-dark: 0.3px 0.5px 0.6px hsl(var(--shadow-color-dark) / 0.38),
    0.8px 1.6px 2px -0.9px hsl(var(--shadow-color-dark) / 0.37),
    2px 4.1px 5.1px -1.7px hsl(var(--shadow-color-dark) / 0.36),
    5px 10px 12.4px -2.6px hsl(var(--shadow-color-dark) / 0.35);
  --shadow-elevation-high-dark: 0.3px 0.5px 0.6px hsl(var(--shadow-color-dark) / 0.35),
    1.4px 2.8px 3.5px -0.4px hsl(var(--shadow-color-dark) / 0.35),
    2.6px 5.3px 6.6px -0.7px hsl(var(--shadow-color-dark) / 0.34),
    4.4px 8.8px 10.9px -1.1px hsl(var(--shadow-color-dark) / 0.34),
    7.1px 14.1px 17.5px -1.5px hsl(var(--shadow-color-dark) / 0.34),
    11.1px 22.2px 27.6px -1.9px hsl(var(--shadow-color-dark) / 0.33),
    16.9px 33.9px 42px -2.2px hsl(var(--shadow-color-dark) / 0.33),
    25px 50px 62.1px -2.6px hsl(var(--shadow-color-dark) / 0.33);
  --shadow-color-primary: 33deg 76% 30%;
  --shadow-elevation-medium-primary: 0.3px 0.5px 0.6px hsl(var(--shadow-color-primary) / 0.38),
    0.8px 1.6px 2px -0.9px hsl(var(--shadow-color-primary) / 0.37),
    2px 4.1px 5.1px -1.7px hsl(var(--shadow-color-primary) / 0.36),
    5px 10px 12.4px -2.6px hsl(var(--shadow-color-primary) / 0.35);
  --shadow-color-secondary-light: 105deg 35% 50%;
  --shadow-elevation-medium-secondary-light: 0.3px 0.5px 0.6px
      hsl(var(--shadow-elevation-medium-secondary-light) / 0.35),
    1.4px 2.8px 3.5px -0.4px hsl(var(--shadow-elevation-medium-secondary-light) / 0.35),
    2.6px 5.3px 6.6px -0.7px hsl(var(--shadow-elevation-medium-secondary-light) / 0.34),
    4.4px 8.8px 10.9px -1.1px hsl(var(--shadow-elevation-medium-secondary-light) / 0.34),
    7.1px 14.1px 17.5px -1.5px hsl(var(--shadow-elevation-medium-secondary-light) / 0.34),
    11.1px 22.2px 27.6px -1.9px hsl(var(--shadow-elevation-medium-secondary-light) / 0.33),
    16.9px 33.9px 42px -2.2px hsl(var(--shadow-elevation-medium-secondary-light) / 0.33),
    25px 50px 62.1px -2.6px hsl(var(--shadow-elevation-medium-secondary-light) / 0.33);
}

.shadow-drop-light {
  box-shadow: var(--shadow-elevation-medium);
}

/* .shadow-drop-light:hover {
      box-shadow: var(--shadow-elevation-high);
      transition: all 0.3s ease-in-out;
    }
   */
.shadow-drop-dark {
  box-shadow: var(--shadow-elevation-medium-dark);
}

/* .shadow-drop-dark:hover {
      box-shadow: var(--shadow-elevation-medium-dark);
      transition: all 0.3s ease-in-out;
    }
   */
.shadow-drop-primary {
  box-shadow: var(--shadow-elevation-medium-primary);
}

.shadow-drop-secondary-light {
  box-shadow: var(--shadow-elevation-medium-secondary-light);
}
