@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@font-face {
  font-family: 'acquire';
  src: url(@/assets/fonts/Aquire-BW0ox.otf) format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
  }
  