  #name {
    font-family: 'acquire', sans-serif;
    animation: stroke 2s alternate;
    font-size: 8vmin;
    fill: #030c17;
  }

  @keyframes stroke {
    0% {
      fill: #e38b26;
      stroke: #030c17;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 1;
    }

    70% {
      fill: #e38b26;
      stroke: #030c17;
    }

    80% {
      fill: #e38b26;
      stroke: #030c17;
      stroke-width: 1.5;
    }

    100% {
      fill: #030c17;
      stroke: #030c17;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }